@layout EmptyLayout
@page "/flow/landing"

<h1 class="TitleHero">
    Re:blogger
</h1>
<span style="font-family:space-mono;font-size:1.5rem">A Tumblr back-up & restore tool</span>
<TumblrAuthorization />

@code {

}
